/* Home Card */
.home-card {
  flex: 1;
  background: #f9f9f9;
  transition: transform 0.3s ease;
}

/* Profile Image */
.profile-card img {
  border-radius: 1rem;
  width: 100%;
  object-fit: cover;
}

/* Profile Container */
.profile-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 1rem;
}

/* Event Details */
.event-details,
.project-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
}

.user-details {
  height: 90vh;
  background-image: linear-gradient(transparent,transparent, #ffffff),linear-gradient(-45deg, #f4d35e, #ffafcc, #a2d2ff);
  text-align: center;
  border-radius: 1rem;
  display: flex;
  align-items:center;
  flex-direction: column;
}
.home-title {
  width: 100%;
  padding: 1rem;
  font-size: max(4rem, 50px);
  mix-blend-mode:difference;
  opacity: .5;
}
.home-content{
  text-align: center;
  width: 50%;
  scale: 125%;
  color: #ffffff;
}
.event-card-container,
.project-card-container {
  height: 25rem;
  width: 100%;
  position: relative;
  gap: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.home-event-card,
.home-project-card {
  border-radius: 0.5rem;
  height: 15rem;
  max-width: 30%;
  min-width: 15rem;
  padding: 1rem;
  overflow: hidden;
  border: 1px solid #33333355;
  backdrop-filter: blur(8px);
}
.knowMoreOverlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background-color: #33333322;
  backdrop-filter: blur(6px);
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  transition: .2s all ease;
}
.event-card-container:hover .knowMoreOverlay,
.project-card-container:hover .knowMoreOverlay{
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 1080px) {
  .event-details,
  .project-details,
  .user-details {
    flex-direction: column;
  }
  .user-details {
    width: 100%;
  }
  .img {
    display: none;
  }
  .home-card {
    align-items: center;
  }
  .home-title {
    text-align: center;
  }
}
