*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 450px){
  .dialog-overlay {
    display: flex;
    align-items: flex-end !important;
  }
  .profile-card{
    padding: 1rem !important;
  }
}